body {background-color:white;}
.tab {overflow: hidden; 
border: 10px solid #ccc; 
background-color:}
. {background-color:;
float:center;
border:none;
outline:none;
cursor:pointer;
padding:10px 16px;
transition:0.3s;}
img {float:left;}
p {text-align:center;}
.sidebar{
 margin-top:
 float:bottom;
}
